<div class="container-fluid bg-light p-1"></div>
<div class="container-fluid bg-dark">
    <div class="trunk">

        <h2 style="color: darkorange; font-weight: bold;">Ajouter une nouvelle carte</h2>
        <p [routerLink]="['/admin']" style="color: white;">Retour au panneau d'administration</p>


        <div class="box">
            <div class="titleBox">
                <h5 style="color: darkorange; font-weight: bold;">Saisie des informations</h5> 
            </div>
            <form #addNewArticleForm="ngForm" (ngSubmit)="submitForm()">
                <label for="titre"></label>
                <input class="form-control" type="text" id="titre" required 
                name="titre" placeholder="Titre du projet"
                [(ngModel)]="cardForm.titre"
                #inputTitre="ngModel">
                
                <label for="sousTitre"></label>
                <input class="form-control " type="text" id="sousTitre" required 
                name="sousTitre" placeholder="Sous-titre du projet" 
                [(ngModel)]="cardForm.sousTitre"
                #inputSousTitre="ngModel">
                

                <label for="contenu"></label>
                <textarea class="form-control" type="text" id="contenu" required 
                name="contenu" placeholder="Contenu du projet"
                [(ngModel)]="cardForm.contenu"
                #inputContenu="ngModel"></textarea>
                
                <label for="photo"></label>
                <input class="form-control " type="text" id="photo" required 
                name="photo" placeholder="Url de la photo" 
                [(ngModel)]="cardForm.photo"
                #inputPhoto="ngModel">
                

                <label for="projet"></label>
                <input class="form-control " type="text" id="projet" required 
                name="projet" placeholder="Url du projet"
                [(ngModel)]="cardForm.lien"
                #inputProjet="ngModel">
                

                <label for="categorie"></label>
                <input class="form-control " type="text" id="categorie" required 
                name="categorie" placeholder="Indiquer une Catégorie" 
                [(ngModel)]="cardForm.category"
                #inputCategory="ngModel">
                

                <input [disabled]="!addNewArticleForm.valid" style="background-color: darkorange; font-weight: bold;" class="btn my-4" type="submit">
            </form>

        </div>

    </div>
</div>

