.trunk {
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    
}

.box {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: solid 1px darkorange;
    border-radius: 7px;
}

tr, td {
    text-align: center;
}