<div class=" container-fluid bg-orange py-1 px-3" style="background: darkorange " >
  <h5 class="text-light">Yannick TINDY : Portfolio</h5>
</div>
<nav class="navbar  navbar-dark bg-dark">
  <a [routerLink]="['/']" class="navbar-brand mx-5 rounded">
    <fa-icon [icon]="faHome"></fa-icon>
  </a>
  <ul class="navbar-nav">
    <!-- <li *ngFor="let categ of categories" >
      <a (click)="reloadComponent(categ)" class="nav-link py-3 px-0 px-lg-3 rounded">{{ categ }}</a>
    </li> -->
    
    <li class="nav-item mx-3 ">
      <a [routerLink]="['/admin']" class="nav-link py-3 px-0 px-lg-3 rounded">
        ADMIN
      </a>
    </li>
  </ul>
</nav>

