<div class="container-fluid bg-light p-1"></div>
<div class="container-fluid bg-dark">
    <div class="trunk">

        
        <div class="box">
            <div class="titleBox">
                <h5 style="color: darkorange; font-weight: bold;">Connexion</h5> 
            </div>
            <form #form="ngForm">
            <!-- (ngSubmit)="connect()" -->
            
                <label for="email"></label>
                <input class="form-control" type="text" id="email" required 
                name="email" placeholder="Email administrateur" [(ngModel)]="email">
                <label for="pwd"></label>
                <input class="form-control " type="text" id="pwd" required 
                name="pwd" placeholder="Mot de passe Administrateur" [(ngModel)]="pwd">
                <input  style="background-color: darkorange; font-weight: bold;"class="btn my-4" type="submit"/>
            </form>
        </div>    
           
        <div class="box" style="display: inline-block ;">    
            <div class="titleBox">
                <h5 style="color: darkorange; font-weight: bold;">Ajouter une nouvelle carte</h5> 
            </div>
            <button style="background-color: darkorange; font-weight: bold;"class="btn my-4" [routerLink]="['/add']">Ajouter</button>
            
        </div>



        <div class="box">
            <div class="titleBox">
                <h5 style="color: darkorange; font-weight: bold;">Tableau des cartes</h5> 
            </div>
            <h5>Tableau des cartes</h5>
            <table class="table table-warning table-striped">
                <thead>
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Nom</th>
                        <th scope="col">action</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of listeCards">
                    <!-- <th scope="row">Nom</th> -->
                    <td><img style="width: 150px ;"src="{{ element.photo }}" alt=""></td>
                    <td>{{ element.titre }}</td>
                    <td>
                        <a [routerLink]="['/edit', element.id]">Editer</a> <br>
                        <a *ngIf="element.id" (click)="deleteCard(element.id)">Supprimer</a>
                        
                    </td>
                    
                  </tr>
                </tbody>
              </table>
        </div>

       

       

    </div>
</div>
