<div  class="card m-2 p-0" style="width: 18rem;">
    <img src="{{ card.photo }}" class="card-img-top"  alt="...">
    <div class="card-body p-2 text-center">
      <h4 class="card-title" style="font-weight: bold;">{{ card.titre }}</h4>
      <h6 style="color: darkorange;">{{ card.sousTitre }}</h6>
      <p class="m-2" style="text-align: justify;">{{ card.contenu }}</p>
      <a href="{{ card.lien }}" class="btn m-2 px-4" style="background: darkorange " ><fa-icon [icon]="faEye"></fa-icon></a>
    </div>
</div>
