<div class="container-fluid bg-light p-1"></div>

<div class="bg-dark m-0">
  <div class="container bg-dark">
    <div class="pt-3">
      <h2  style="color: darkorange ; font-weight: bold;">Realisé en Angular</h2>
      <p class="text-light">Dashboard CRUD des cartes de mes projets de développement</p>
    </div>
    <div class="row justify-content-center">
      <app-card class="col-12 col-md-6 col-lg-4" *ngFor="let card of listeCards" [card]="card">
        

      </app-card>
    </div>
  </div>
</div>

  
